body {
    background-color: #fafafa;
    width: 500px;
    height: 600px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    color: #8429cc;
    text-align: center;
}

.line {
    background-color: #aeaeae;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    float: left;
    display: inline-block;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    margin: 10px;
    text-align: center;
    border: 1px solid #e1e1e1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
#box img {
    display: inline-block;
    vertical-align: middle;
}
  
#box p {
    display: inline-block;
    vertical-align: middle;
}

/* #box {
    width: 400px;
    height: 50px;
    background-color: lightsalmon;
    padding: 5px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
} */


#box:hover {
    background-color: pink;
}

#button {
    border-radius: 5px;
    border: 1px solid #e1e1e1;
}

#button:hover {
    background-color: #8429cc;
    color: white;
    cursor: pointer;
}