
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  width: 500px;
  height: 800px;
  background-color: #ffffff;
  border-radius: 500px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-left: 190px;
  color: #000000;
}

.line {
  background-color: #fafafa;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: center;
  color: #000000;
}

#boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#outline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: center;
  background-color: #ffffff;
}

#box {
  display: flex;
  min-width: 200px;
  max-width: 200px;
  max-height: 221px;
  min-height: 221px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 200px;
  padding: auto;
  margin: 10px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #404258;
}

#box img {
  margin-top: 15px;
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
  display: inline-block;
  vertical-align: middle;
}

#box p {
  max-width: 200px;
  vertical-align: middle;
}

#box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 128, 55, 0.715);
}

button{
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  color: #404258;
  border: 1px solid black;
}

button:hover {
  background-color: #7ed957;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #7ed957
}

#showMore {
  color: rgb(0, 128, 55);
  margin-bottom: 20px;
}